body,
html {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin: 20px auto;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slider img {
  width: 100%;
  height: 100%;
}

.slider div > img {
  width: auto;
}

.button-container {
  outline: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-top: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.play-button {
  outline: none;
  height: 60px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.left {
  outline: none;
  margin-right: 10px;
  height: 100%;
  border-width: 15px;
  border-style: solid;
  border-color: #fff;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  overflow: hidden;
}
.right {
  outline: none;
  border-width: 15px;
  border-style: solid;
  border-color: #fff;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.paused .left {
  border-width: 15px 0px 15px 30px;
  border-color: transparent transparent transparent #fff;
  margin: 0;
}
.paused .right {
  border-width: 30px 0px 30px 30px;
  border-color: transparent transparent transparent #fff;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.btnPause {
  cursor: pointer;
  border: none;
  outline: none;
  border-style: solid;
  border-width: 30px;
  border-color: #fff;
  border-width: 0px 0px 0px 60px;
  background-color: transparent;
  border-style: double;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.btnPlay {
  cursor: pointer;
  border: none;
  outline: nmo;
  background-color: transparent;
  outline: none;
  border-style: solid;
  border-width: 30px 0px 30px 60px;
  border-color: transparent transparent transparent #fff;
}

.btnHideActionBar {
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  border-style: solid;
  border-width: 30px;
  border-color: #fff transparent transparent transparent;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.btnNext {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  border: solid #fff;
  border-width: 30px 0px 30px 60px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.btnPrev {
  outline: none;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  border: 30px solid #fff;
  border-width: 30px 60px 30px 0px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
