.btnRightDefaultStyles {
  outline: none;
  border-width: 15px;
  border-style: solid;
  border-color: #000;
  -webkit-transition: border 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: border 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, border 0.2s ease-in;
  transition: transform 0.2s ease-in, border 0.2s ease-in;
  transition: transform 0.2s ease-in, border 0.2s ease-in,
    -webkit-transform 0.2s ease-in;
}

.btnRightActiveStyles {
  border-width: 15px 0px 15px 15px;
  border-color: transparent transparent transparent #000;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.btnLeftDefaultStyles {
  outline: none;
  margin-right: 10px;
  height: 100%;
  border-width: 7.5px;
  border-style: solid;
  border-color: #000;
  -webkit-transition: border 0.2s ease-in, margin 0.2s ease-in;
  -o-transition: border 0.2s ease-in, margin 0.2s ease-in;
  transition: border 0.2s ease-in, margin 0.2s ease-in;
  overflow: hidden;
}
.btnLeftActiveStyles {
  border-width: 7.5px 0px 7.5px 15px;
  border-color: transparent transparent transparent #000;
  margin: 0;
}
.buttonContainerStyles {
  outline: none;
  width: 100%;
  bottom: 0;
  padding: 10px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.btnPlayPauseStyles {
  outline: none;
  height: 60px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  -webkit-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}
.btnHideActionBarStyles {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100px;
  height: 60px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.btnPrevStyles {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100px;
  height: 60px;
  -webkit-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}
.btnNextStyles {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100px;
  height: 60px;
  transform: rotate(180deg);
  -webkit-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

.imageDefault {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.controlContainer {
  position: relative;
  left: 0px;
}

.slidesContainer {
  overflow: hidden;
  position: relative;
}

.slider {
  overflow: hidden;
  display: block;
}

.slider button svg {
  fill: #000;
  height: 60px;
  margin: 0 auto;
}

.slider button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  background-color: transparent;
  -webkit-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

button:disabled, input:disabled {
  cursor: default;
}