:root {
  --checkedWidth: 940px;
  --height: 270px;
}
.controlContainer {
  position: relative;
  left: 0px;
  width: var(--checkedWidth);
  height: var(--height);
}

.slidesContainer {
  overflow: hidden;
  position: relative;
  width: var(--checkedWidth);
  height: var(--height);
}

.buttonContainer {
  outline: none;
  width: 100%;
  bottom: 0;
  padding: 10px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btnHideActionBar {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100px;
  height: 60px;
  transition: transform 0.7s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.btnPrev {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100px;
  height: 60px;
  -webkit-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}
.btnNext {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100px;
  height: 60px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

.imageDefault {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slider {
  overflow: hidden;
  display: block;
}

.slider button svg {
  fill: #000;
  height: 60px;
  display: block;
  margin: 0 auto;
}

.slider button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  background-color: transparent;
  -webkit-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

button:disabled,
input:disabled {
  cursor: default;
}

.opacityInvisible {
  opacity: 0;
}

.prevNumber {
  display: block;
  z-index: 0;
  left: - var(--checkedWidth);
}

.currentNumber {
  display: block;
  z-index: 10;
  left: 0;
}

.nextNumber {
  display: block;
  z-index: 0;
  left: var(--checkedWidth);
}